@font-face {
  font-family: 'Museo Cyrl 500';
  src: 
  url('../font/MuseoCyrl-500.woff') format('woff'),
  url('../font/MuseoCyrl-500.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Cyrl 700';
  src: 
  url('../font/MuseoCyrl-700.woff') format('woff'),
  url('../font/MuseoCyrl-700.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: 
  url('../font/MuseoSansCyrl-500.woff') format('woff'),
  url('../font/MuseoSansCyrl-500.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}