*, *:after, *:before
  box-sizing: border-box
html  
  font-size: 16px 
  color: $dark
body
  font-family: 'Museo Cyrl 500'
  background: $light url("../img/bg.jpg") no-repeat    
.header
  border: 0px solid red 
  background: $light
  box-shadow: 0px 5px 5px $shadow  
  &__menu
    border: 0px solid $dark
  &__left
    border: 0px solid $dark  
.container
  &__header
    border: 0px solid $dark

